<!DOCTYPE html>
<html lang="en" ng-app="editApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>编辑</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="font/iconfont.css"/>
    <link rel="stylesheet" href="css/edit.css"/>

</head>
<body>

<div class="edit">
    <div class="left">
        <div class="logo">
            312
        </div>
        <div class="function">
            <ul>
                <li class="active">
                    <a href=""><i class="iconfont">&#xe6af;</i></a>
                </li>
                <li>
                    <a href=""><i class="iconfont">&#xe6af;</i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="center" ng-controller="artcleContr">
        <div class="topbar"></div>
        <div class="title">
            <a href="javascript:void(0)">
                <i class="iconfont">&#xe6af;</i>
                <span class="win-text">+新建文章</span>
            </a>
        </div>
        <div class="title-list">
            <!--<div class="artcle" ng-repeat="artcle in artcleList" ng-click="openArtcle()">-->
                <!--<i class="iconfont">&#xe653;</i>-->
                <!--{{artcle.title}}-->
            <!--</div>-->
            <div class="artcle">
                <i class="iconfont">&#xe643;</i>
                <a href="javascript:void(0)">

                    标题1打发打发的说法地方事发地时发生地方
                </a>

            </div>
            <div class="artcle active">
                <i class="iconfont">&#xe643;</i>
                <a href="javascript:void(0)">

                    标题1打发打发的说法地方事发地时发生地方
                </a>

            </div>


        </div>
    </div>
    <div class="right">
        <form action="">
            <div class="topbar"></div>
            <div class="title">
                <input type="text" placeholder="请输入文章标题"/>

                <button type="submit">发布文章</button>
            </div>
            <!--<div class="attr">-->
            <!--文章分类-->
            <!--<select>-->
            <!--<option value="">ddd</option>-->
            <!--</select>-->
            <!--<span>文章状态：未发布</span>-->
            <!--</div>-->
            <div class="artcle-edit">
                <!-- 加载编辑器的容器 -->
                <script id="container" name="content" type="text/plain"></script>

            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

<!-- 配置文件 -->
<script type="text/javascript" src="ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">

    var height = $(".right").height() - $(".right .topbar").height() - $(".right .title").height() - 110;
    var width = $(".artcle-edit").width();
    var ue = UE.getEditor('container',{
        initialFrameWidth:width,
        initialFrameHeight:height,
        autoHeightEnabled:false
    });



</script>
</body>
</html>